.badge {
  padding: 1px 9px 2px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #f89406;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #e3f806;
  text-decoration: none;
  cursor: pointer;
}
